@charset "ISO-8859-1";
.rsPgae
{
                position:absolute;
				width:50%;
				top:20%;
				left:25%;
				right:25%;
				border-radius: 5px;
				background-color: #f2f2f2;
				padding: 10px;
}