@charset "ISO-8859-1";

.label{
	text-align:left;
}
.value{
	text-align:right;
}
table{
	margin-left:auto;
	margin-right:auto;
}
.nav{
	margin-right: 10%;
	margin-left: 10%;
}
.main{
	margin-right: 10%;
	margin-left: 10%;
}