@charset "ISO-8859-1";

.container-fluid {
	padding: 0px !important;
}

.label {
	text-align: left;
}

.value {
	text-align: right;
}

table {
	margin-left: auto;
	margin-right: auto;
}
form {
	margin-right: 25%;
	margin-left: 25%;
	text-align: center;
}

.nav-01 {
	background-color: black;
	color: yellow !important;
}

html, 
body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overscroll-behavior-y: auto;
	background: linear-gradient(to bottom, rgb(150, 150, 146),
		rgba(255, 255, 252, 0.22));
}

.copyrighttt {
position: fixed;
    bottom: 0;
    float: left;
    width: 100%;
}
.copyright {
    float: left;
    width: 100%;
  padding:10px 55px;
  text-align: center;
  background-color: #71dff5;
}
ul{
	list-style-type:none;
	margin-left:0;
}

ul li{
	margin-left:0;
	padding-left:0;
	display:block;

}
